html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 40px;
  color: #222831;
  font-family: "Rubik", sans-serif;
}

.hidden{display: none !important;}

.button {
  font-size: 30px;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #00adb5;
  cursor: pointer;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: #222831;
}

a:hover {
  opacity: 0.7;
}

p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 500;
}

nav {
  position: relative;
  display: flex;
  min-height: 13vh;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  font-size: 35px;
  color: #00adb5;
}

nav > ul > li {
  cursor: pointer;
}

nav > ul {
  font-size: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

nav > ul > li:last-child > a {
  font-size: inherit;
}

#intro {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#intro > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#intro > div > p {
  margin-bottom: 70px;
}

lottie-player {
  width: 80%;
  max-width: 800px;
}

#about {
  align-items: center;
  align-self: center;
  text-align: center;
}

#about > section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#about > section > div {
  width: 40%;
}

#about > section:nth-child(odd) {
  flex-direction: row-reverse;
}

#about > section > lottie-player {
  width: 30%;
  max-width: 400px;
}

#sendEmailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 180px;
  margin-bottom: 50px;
}

#sendEmailContainer > input , textarea {
  border-radius: 5px;
  border: 1px solid #00adb5;
  padding: 8px;
  resize: none;
  margin: 8px 0 8px 0;
  font-family: "Rubik";
  transition: 0.3s;
}

input:focus { 
  outline: none !important;
  border-color: #00757b;
  box-shadow: 0 0 5px #719ECE;
}
textarea:focus { 
  outline: none !important;
  border-color: #00757b;
  box-shadow: 0 0 5px #719ECE;
}

#sendEmailContainer > button {
  font-size: 15px;
  font-weight: bold;
  border-color: transparent;
}






@media (max-width: 850px) {
  nav > ul {
    width: 90%;
    justify-content: space-around;
  }

  main > #intro {
    flex-direction: column-reverse;
    text-align: center;
  }

  #intro > div {
    width: 100%;
    align-items: center;
  }

  .button {
    margin-bottom: 30px;
  }

  #about > section > div {
    width: 100%;
  }

  #about > section,
  #about > section:nth-child(odd) {
    flex-direction: column;
  }

}

@media (max-width: 550px) {
  nav > ul > li:last-child {
    display: none;
    width: 100%;
  }
}
